#userInfoModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        .header
          .icon 
            %i.flaticon-info2
          .text
            %h2#myModalLabel.modal-title Informácie pre klientov
      .modal-body
        %center
          %ul.nav.nav-pills
            %li.active
              %a{"data-toggle" => "pill", :href => "#user1"} 
                .icon
                  %i.flaticon-heart258
                .text Informacie o zdravotných poisťovniach
            %li
              %a{"data-toggle" => "pill", :href => "#user2"}
                .icon
                  %i.flaticon-pill
                .text Informácie o liečivách

      %hr.blue

        .tab-content

          #user1.tab-pane.fade.in.active
            .tabbable.tabs-left
              %ul.nav.nav-tabs.nav-global.insurance
                %li.active
                  %a{"data-toggle" => "tab", :href => "#insurance1"} VZP
                %li
                  %a{"data-toggle" => "tab", :href => "#insurance2"} Union
                %li
                  %a{"data-toggle" => "tab", :href => "#insurance3"} Dôvera



              .tab-content

                #insurance1.tab-pane.fade.city.in.active
                  .body
                    .text
                      %h3.head
                        %b Všobecná Zdravotná Poisťovňa
                      %ul.list
                        %li
                          Obväzový materiál, náplasti a zdravotnícke pomôcky, ktoré slúžia na aplikáciu liečiva



                #insurance2.tab-pane.fade
                  .body
                    .text
                      %h3.head
                        %b Union Poisťovňa
                      %ul.list
                        %li
                          Zdravotnícke pomôcky pre inkontinenciu, retenciu moču
                        %li
                          Objednávame na základe požiadavky pacientov


                #insurance3.tab-pane.fade
                  .body
                    .text
                      %h3.head
                        %b Poisťovňa Dôvera
                      %ul.list
                        %li
                          Zdravotnícke pomôcky pre inkontinenciu, retenciu moču
                        %li
                          Objednávame na základe požiadavky pacientov




          #user2.tab-pane.fade

            .tabbable.tabs-left
              %ul.nav.nav-tabs.nav-global.drugs
                %li.active
                  %a{"data-toggle" => "tab", :href => "#drug1"} Liečivo 1
                %li
                  %a{"data-toggle" => "tab", :href => "#drug2"} Liečivo 2
                %li
                  %a{"data-toggle" => "tab", :href => "#drug3"} Liečivo 3
                %li
                  %a{"data-toggle" => "tab", :href => "#drug3"} Liečivo 4
                %li
                  %a{"data-toggle" => "tab", :href => "#drug3"} Liečivo 5
                %li
                  %a{"data-toggle" => "tab", :href => "#drug3"} Liečivo 6
                %li
                  %a{"data-toggle" => "tab", :href => "#drug3"} Liečivo 7
                %li
                  %a{"data-toggle" => "tab", :href => "#drug3"} Liečivo 8
                %li
                  %a{"data-toggle" => "tab", :href => "#drug3"} Liečivo 9




              .tab-content

                #insurance1.tab-pane.fade.city.in.active
                  .body
                    .text
                      %h3.head
                        %b Liečivo 1
                      %ul.list
                        %li
                          Obväzový materiál, náplasti a zdravotnícke pomôcky, ktoré slúžia na aplikáciu liečiva



                #insurance2.tab-pane.fade
                  .body
                    .text
                      %h3.head
                        %b Liečivo 2
                      %ul.list
                        %li
                          Zdravotnícke pomôcky pre inkontinenciu, retenciu moču
                        %li
                          Objednávame na základe požiadavky pacientov


                #insurance3.tab-pane.fade
                  .body
                    .text
                      %h3.head
                        %b Liečivo 3
                      %ul.list
                        %li
                          Zdravotnícke pomôcky pre inkontinenciu, retenciu moču
                        %li
                          Objednávame na základe požiadavky pacientov

                #insurance4.tab-pane.fade
                  .body
                    .text
                      %h3.head
                        %b Liečivo 4
                      %ul.list
                        %li
                          Zdravotnícke pomôcky pre inkontinenciu, retenciu moču
                        %li
                          Objednávame na základe požiadavky pacientov

                #insurance5.tab-pane.fade
                  .body
                    .text
                      %h3.head
                        %b Liečivo 5
                      %ul.list
                        %li
                          Zdravotnícke pomôcky pre inkontinenciu, retenciu moču
                        %li
                          Objednávame na základe požiadavky pacientov

                #insurance6.tab-pane.fade
                  .body
                    .text
                      %h3.head
                        %b Liečivo 6
                      %ul.list
                        %li
                          Zdravotnícke pomôcky pre inkontinenciu, retenciu moču
                        %li
                          Objednávame na základe požiadavky pacientov

                #insurance7.tab-pane.fade
                  .body
                    .text
                      %h3.head
                        %b Liečivo 7
                      %ul.list
                        %li
                          Zdravotnícke pomôcky pre inkontinenciu, retenciu moču
                        %li
                          Objednávame na základe požiadavky pacientov

                #insurance8.tab-pane.fade
                  .body
                    .text
                      %h3.head
                        %b Liečivo 8
                      %ul.list
                        %li
                          Zdravotnícke pomôcky pre inkontinenciu, retenciu moču
                        %li
                          Objednávame na základe požiadavky pacientov

                #insurance9.tab-pane.fade
                  .body
                    .text
                      %h3.head
                        %b Liečivo 9
                      %ul.list
                        %li
                          Zdravotnícke pomôcky pre inkontinenciu, retenciu moču
                        %li
                          Objednávame na základe požiadavky pacientov

      .modal-footer
        %button.btn.btn-lg.btn-close{"data-dismiss" => "modal", :type => "button"} Zavrieť